[mysqld]
datadir=/home/ad6q/mysql
socket=/home/ad6q/mysql.sock
user=ad6q
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysqld_safe]
log-error=/home/ad6q/mysql/mysqld.log
pid-file=/home/ad6q/mysql/mysqld.pid
