body, table {
  font-family: 'Lucida Sans Unicode','Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
  font-size: 14px;
}

fieldset {
  margin-top: 14px;
}

h3 {
  margin: 0px;
}

#top-bar {
  background-color: #39F;
  color: white;
  font-size: 28px;
  padding: 4px;
}

#top-bar .login-bar {
  float: right;
  font-size: 14px;
  margin: 7px;
}

#top-bar .login-bar a {
  color: white;
  margin-left: 7px;
}

#left-bar {
  background-color: #DDD;
  float: left;
}

#left-bar div {
  margin: 8px;
}

#left-bar a {
  color: #666;
}

#left-bar a.active {
  color: black;
}

#content {
  float: left;
  margin: 14px;
}

#subcontent {
  margin-top: 7px;
}

#subcontent .spaced {
  margin-top: 4px;
}

.code {
  font-family: 'Courier New', Courier, 'Nimbus Mono L', serif, monospace;
}

#leftcontent, #rightcontent {
  float: left;
}

#rightcontent {
  margin: 6px 21px;
}

.game-link {
  background-color: #DDD;
  margin: 2px;
  padding: 4px;
  cursor: pointer;
  width: 128px;
}

.game-link:hover {
  background-color: #BBB;
}

.game-link.active {
  background-color: #39F;
  color: white;
}
